.content {
    width: 1400px;
    margin: 100px auto;
}
.content .nav {
    margin-left: 430px;
}
.content .nav li{
    list-style: none;
    float: left;
    margin-left: 30px;
}
.content .nav li a {
    color: black;
}
.content .nav .active {
    color: rgb(206, 2, 2);
}
.content p {
    margin: 10px 0 10px 45px;
}
.picture {
    margin: 0 auto;
    width: 1320px;
    height: 830px;
    background-color: rgb(239, 244, 249)
}
.picture ul li {
    width: 400px;
    height: 230px;
    list-style: none;
    float: left;
    margin-right: 20px;
    margin-top: 40px;
}
.picture ul img {
    width: 400px;
    height: 200px;
}
.picture ul li span {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}